<html>
<head>
  <title>Les nombres premiers</title>
  <link rel="stylesheet" type="text/css" href='<%= style.style %>'>
<body>
  <img width="200" alt="Paris 13 Logo" src='<%= style.img %>'>
  <h2><marquee>Liste des nombres premiers de 0 à 100</marquee></h2><br/>
  <div class="premier">
    <% for(var i=0; i<premiers.length; i++) {%>
      <span><%= premiers[i] %></span>
    <% } %>
  </div>
</body>
</html>
