<html ng-app="PlayerApp">
	<head>
		<meta charset="utf-8"	/>	
		<meta http-equiv='cache-control' content='no-cache'>
		<title>SAIZIK avec Spotify</title>
		<link rel="stylesheet" href="css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script type="text/javascript" src="/assets/javascripts/angular/angular-material.min.js"></script>
		<script src="lib/ng-cookies/dist/ng-cookies.js"></script>
		<script src="lib/ng-cookies/dist/ng-cookies.min.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="cordova.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services/auth.js"></script>
		<script src="js/services/api.js"></script>
		<script src="js/services/playback.js"></script>
		<script src="js/services/playqueue.js"></script>
		<script src="js/directives/playlistcover.js"></script>
		<script src="js/directives/responsivecover.js"></script>
		<script src="js/directives/contextmenu.js"></script>
		<script src="js/directives/focusme.js"></script>
		<script src="js/filters/displaytime.js"></script>
		<script src="js/filters/timeago.js"></script>
		<script src="js/controllers/player.js"></script>
		<script src="js/controllers/login.js"></script>
		<script src="js/controllers/playlist.js"></script>
		<script src="js/controllers/home.js"></script>
		<script src="js/controllers/artist.js"></script>
		<script src="js/controllers/album.js"></script>
		<script src="js/controllers/user.js"></script>
		<script src="js/controllers/usertracks.js"></script>
		<script src="js/controllers/playqueue.js"></script>
		<script src="js/controllers/searchresults.js"></script>
		<script src="js/controllers/browse.js"></script>
		<script src="js/controllers/browsecategory.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="lib/jquery.cookie.js"></script>
		<script language="javascript">
			<!-- window.onload = function() { -->
			   <!-- window.open('https://open.spotify.com','new games release',' menubar=0, resizable=0,dependent=0,status=0,width=300,height=200,left=10,top=10') -->
			<!-- } -->
			
		   function oinit() { 
			   <!-- window.open("https://open.spotify.com",null,"height=1/200,width=1/200,status=yes,toolbar=no,scrollbar=yes,menubar=no,location=no"); -->
			  var popup=window.open('https://open.spotify.com','','width=,height=,resizable=no'); 
			    popup.blur(); 
				window.focus(); 
				window.resizeTo(0,0);  
			 window.moveTo(0,window.screen.availHeight+10); 
		  } 
		</script>
	</head>
	<body ng-controller="AppController">
		<div class="fullview playerview" ng-show="showplayer">
			<div ng-controller="PlayerController">
				<div class="topgroup">
					<div class="searchbox">
						<input type="text" ng-model="query" ng-change="loadsearch()" ng-keyup="loadsearch()" placeholder="Rechercher..." />
					</div>
					<div class="titlebox">
						<a class="flash" href="#/home">SAIZIK AVEC SPOTIFY</a>
					</div>
					<div class="userbox">
						<b><a href="#/users/{{profileUsername}}">{{profileUsername}}</a></b>
						&nbsp;<a id="clear" ng-click="logout()">Se déconnecter</a>
					</div>
				</div>
				<div class="midgroup">
					<div class="menuview">
						<div class="list scrollable">
							<b><a href="#/">Générale</a></b>
							<ul class="menuitems">
								<li><a href="#/" ng-class="getClass('/')">Feuilleter</a></li>
							</ul>
							<b><a href="#/me">MA MUSIQUE</a></b>
							<ul class="menuitems">
								<li><a href="#/users/{{username}}/tracks" ng-class="getClass('/users/{{username}}/tracks')">Sons</a></li>
							</ul>
							<b><a href="#/me">MES PLAYLISTS</a></b>
							<ul class="menuitems">
								<li ng-repeat="pl in playlists track by pl.id" ng-context-menu="menuOptions(pl)" ng-class="getClass('/users/{{pl.username}}/playlists/{{pl.id}}/track/{{currenttrack}}')">
									<a href="#/users/{{pl.username}}/playlists/{{pl.id}}/track/{{currenttrack}}" ng-if="!pl.editing">
										{{pl.name}} 
									</a>
									<input focus-me="focusInput" ng-blur="playlistNameBlur(pl)" ng-if="pl.editing" class="edit" type="text" value="{{pl.name}}" name="title" ng-keyup="playlistNameKeyUp($event, pl)">
								</li>
							</ul>
						</div>
						<div class="preview">
							<a href="#/albums/{{trackdata.album.id}}">
								<responsive-cover ng-model="trackdata.album.images"></responsive-cover>
							</a>
							<p>
								<b>{{trackdata.name}}</b>
								<a href="#/artists/{{trackdata.artists[0].id}}">
									{{trackdata.artists[0].name}}
								</a>
							</p>
						</div>
					</div>
					<div class="mainview">
						<div ng-view></div>
					</div>
				</div>
				<div class="bottomgroup">
					<div class="leftcontrols">
						<div class="prevbutton">
							<a id="previous" ng-click="prev()"><img src="images/btn-prev.png" /></a>
						</div>

						<div class="playbutton">
							<a id="play" ng-click="resume()" ng-hide="playing"><img src="images/btn-play.png" /></a>
							<a id="pause" ng-click="pause()" ng-show="playing"><img src="images/btn-pause.png" /></a>
						</div>

						<div class="nextbutton">
							<a id="next" ng-click="next()"><img src="images/btn-next.png" /></a>
						</div>

						<div class="volume">
							<input type="range" ng-change="changevolume()" min="0" max="100" ng-model="volume" />
						</div>
					</div>
					<div class="seekcontrols">
						<div class="progress">{{ progress | displaytime }}</div>
						<div class="duration">{{ duration | displaytime }}</div>
						<div class="slider">
							<input type="range" ng-model="progress" ng-change="changeprogress()" min="0" max="{{duration}}" />
						</div>
					</div>
					<div class="rightcontrols">
						<!--
						a ng-click="shuffle()">SHUF</a>
						a ng-click="repeat()">REP.</a>
						-->
					</div>
				</div>
			</div>
		</div>

		<div class="fullview loginview" ng-show="showlogin">
			<div ng-controller="LoginController">
				<div class="centered">
					<div class="inner">
						<h1 class="flash">SAIZIK AVEC SPOTIFY </h1>
						<p>
							<em>Cette application vous permet d'accéder à vos listes de lecture sur Spotify en vous connectant.</em>
						</p>
						<a ng-click="login()" class="button big green">Se connecter</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
